name: Deploy Backend to EC2

on:
  push:
    branches: [ master ]

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build Spring Boot Jar
        run: mvn -B clean package -DskipTests

      - name: Upload JAR to EC2 (overwrite existing)
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: "flight-managment-backend/target/flight-booking-backend-0.0.1-SNAPSHOT.jar"
          target: "/home/ec2-user/"
          overwrite: true

      - name: Restart Backend Service
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo systemctl daemon-reload || true
            sudo systemctl restart flight-backend
            sudo systemctl status -n 20 flight-backend --no-pager
