name: Deploy Backend to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Spring Boot Jar
        run: ./mvnw clean package -DskipTests

      - name: Copy Jar to EC2
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: "target/flight-booking-backend-0.0.1-SNAPSHOT.jar"
          target: "/home/ec2-user/flight-booking-backend-0.0.1-SNAPSHOT.jar"

      - name: Restart Backend Service
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo systemctl restart flight-backend
